{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}



        {% include "partials/menu1.html.twig" %}

      <div class="row" id="1" style="margin: 0px;margin-left: 15px;margin-right: 15px; max-height:auto">
        <div class="col">

            <div class="card border-dark"
                style="background-color: #ffffff;margin-top: 15%;margin-bottom:50px">
                <div class="card-body">
                    <div class="row" style="margin-top: 15px;">
                        <div class="col">


                        <!-- CONTENU-->

    <h1>Modification du mot de passe</h1>


    {{ form_start(form) }}
    {{ form_widget(form )}}
    <button type="submit" class="btn btn-primary"> Valider </button>
    {{ form_end(form) }}

   
                        
                        <!-- EO CONTENU-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-1 order-3 order-sm-3 order-md-3 order-lg-3 order-xl-3" id="contentColDroite" style="padding: 0px;">
</div>
</div>

<!-- ======================-->


{% endblock %}