{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{% include "partials/menu.html.twig" %}
{% include "partials/bodyTop.html.twig" %}

<div class="card border-dark" style="background-color: #ffffff;margin-top: 15%;margin-bottom:50px">
    <div class="card-body">
        <div class="row" style="margin-top: 15px;">
            <div class="col">


                <!-- CONTENU-->
                {{ form_start(form) }}
            
                {{ form_widget(form )}}
                <button type="submit" class="btn btn-primary"> Valider </button>
                {{ form_end(form) }}

                <!-- EO CONTENU-->

            </div>
        </div>
    </div>
</div>
{% include "partials/bodyBot.html.twig" %}

<!-- ======================-->


{% endblock %}