    <div class="card border-dark mb-5 mt-0"
        style="background-color: #ffffff;margin-top: 121px;margin-right: 0px;margin-left: 0px;">
        <div class="card-body mb-3 justify-content"
            style="background-color: rgba(245,247,255,0.55);padding-right: 20px;margin-top: 0px;">


        <div class="col textAlign">

        <div class="alert-info" style="margin-bottom:25px"> <h2>Nouveaux horaires des messes</h2></div>
       

            <img style="max-height:400px" class="img-fluid img-responsive "
                src="{{app.request.basepath}}/uploads/img/{{renduAll.imageName}}"
                onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+this.width+', height='+this.height);" />
        </div>
        </div>
    </div>