<div class="row" id="CONTENT" style="">
    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2 order-1 order-sm-1 order-md-3 order-lg-1 order-xl-1"
        id="contentColGauche" style="padding: 0px;">
    </div>
    <div class="col-11 col-sm-11 col-md-12 col-lg-10 col-xl-8 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2"
        id="contentColCONTENT" style="padding: 0px;">
        <div class="row" id="1" style="margin-left: 15px;margin-right: 15px;">
            <div class="col mb-3" style="margin-top:110px">

                <!-- RENDU CENTRAL-->