   <div class="row" id="rowCarousel">
     <div class="col-md-12" id="carouselCol">
       <div data-ride="carousel" class="carousel carousel-fade slide border" id="carousel-1">


         <div role="listbox" class="carousel-inner">
           <div class="carousel-item active"><img class="w-100 d-block img-fluid" src="img/StPierre01.jpg"
               alt="Slide Image" />
             <div class="carousel-caption fond">
               <h1 class="h1Carousel titre typo">Paroisse Saint Etienne en Drouais </h1>
               <p class="pCarousel textes typo">Eglise de Saulnières</p>
             </div>
           </div>
     
           <div class="carousel-item"><img class="w-100 d-block img-fluid" src="img/StPierre02.jpg" alt="Slide Image" />
             <div class="carousel-caption fond">
               <h1 class="h1Carousel titre typo">Paroisse Saint Etienne en Drouais </h1>
               <p class="pCarousel textes typo">Eglise de Luray</p>
             </div>
           </div>
  
           <div class="carousel-item"><img class="w-100 d-block img-fluid" src="img/StPierre04.jpg" alt="Slide Image" />
             <div class="carousel-caption fond">
               <h1 class="h1Carousel titre typo">Paroisse Saint Etienne en Drouais </h1>
               <p class="pCarousel textes typo">Eglise de Garancières-en-Drouais</p>
             </div>
           </div>

         </div>
         <div><a href="#carousel-1" role="button" data-slide="prev" class="carousel-control-prev"><span
               aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
             href="#carousel-1" role="button" data-slide="next" class="carousel-control-next"><span aria-hidden="true"
               class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
         <ol class="carousel-indicators">
           <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
           <li data-target="#carousel-1" data-slide-to="1"></li>
           <li data-target="#carousel-1" data-slide-to="2"></li>
         </ol>
       </div>
     </div>
   </div>