<div class="containerFooter">

<div class="col" style="padding: 0px;">
    <div class="row" style="margin: 0px;">
        <div class="col-xl-12" style="padding: 0px;">
            <div class="alert alert-info" role="alert" style="background-color: rgb(248,248,248);padding: 0px;"></div>
            <div class="row" style="margin: 0px;margin-bottom: 10px;">
                <div class="col-lg-3 col-xl-3" style="padding: 0px;">
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 0px;margin-right: 2px;margin-bottom: 5px;padding-top: 3px;padding-bottom: 3px;">
                        <p style="font-weight: bold;color: rgb(87,168,248);margin-bottom: -2px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(87,168,248);"></i>Contacts :</p>
                        <ul style="margin-top: 0px;margin-right: 1px;margin-left: 1px;margin-bottom: 0px;">
                            <li style="font-size: 13px;">Centre Paroissial</li>
                            <li style="font-size: 13px;">Prêtres et équipe pastorale</li>
                            <li style="font-size: 13px;">Communautés locales</li>
                            <li style="font-size: 13px;">Soeurs de Saint Jean</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 0px;margin-right: 2px;margin-bottom: 5px;padding-top: 3px;padding-bottom: 3px;">
                        <p style="font-weight: bold;color: rgb(27,153,16);margin-bottom: -2px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(27,153,16);"></i>En pratique :</p>
                        <ul style="margin-top: 0px;margin-right: 1px;margin-left: 1px;margin-bottom: 0px;">
                            <li style="font-size: 13px;">Horaires des messes</li>
                            <li style="font-size: 13px;">Calendrier paroissial</li>
                            <li style="font-size: 13px;">Les églises</li>
                            <li style="font-size: 13px;">Vous accueillir</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 0px;margin-right: 2px;margin-bottom: 5px;padding-top: 3px;padding-bottom: 3px;">
                        <p style="font-weight: bold;color: rgb(153,23,174);margin-bottom: -2px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(153,23,174);"></i>Demander :</p>
                        <ul style="margin-top: 0px;margin-right: 1px;margin-left: 1px;margin-bottom: 0px;">
                            <li style="font-size: 13px;">Baptême adultes</li>
                            <li style="font-size: 13px;">Baptême enfants</li>
                            <li style="font-size: 13px;">Communion</li>
                            <li style="font-size: 13px;">Confirmation</li>
                            <li style="font-size: 13px;">Réconciliation</li>
                            <li style="font-size: 13px;">Mariage</li>
                            <li style="font-size: 13px;">Sacrement des malades</li>
                            <li style="font-size: 13px;">Funérailles chrétiennes</li>
                            <li style="font-size: 13px;">Intentions de messe</li>
                            <li style="font-size: 13px;">Document administratif</li>
                            <li style="font-size: 13px;">Denier de l&#39;Eglise</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 0px;margin-right: 2px;margin-bottom: 5px;padding-top: 3px;padding-bottom: 3px;">
                        <p style="font-weight: bold;color: rgb(184,178,18);margin-bottom: -2px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(184,178,18);"></i>Liens utiles</p>
                        <ul style="margin-top: 0px;margin-right: 1px;margin-left: 1px;margin-bottom: 5px;">
                            <li style="font-size: 13px;">Diocèse de Chartres</li>
                            <li style="font-size: 13px;">Radio Grand Ciel</li>
                            <li style="font-size: 13px;">Autres liens</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3" style="padding: 0px;">
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding: 3px;padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;margin-bottom: 10px;padding-bottom: 5px;">
                        <p style="font-weight: bold;color: rgb(248,158,52);margin-bottom: 5px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(248,158,52);"></i>S&#39;engager !</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                            <li style="font-size: 13px;">Les services paroissiaux</li>
                            <li style="font-size: 13px;">Les formations</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding: 3px;padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;margin-bottom: 5px;padding-bottom: 5px;margin-top: 5px;">
                        <p style="font-weight: bold;color: rgb(142,139,137);margin-bottom: 3px;font-size: 14px;margin-top: 3px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(142,139,137);"></i>Ma Paroisse :<br /></p>
                        <p style="font-size: 11px;margin-bottom: 0px;margin-left: 19px;">1 fois par mois, toutes les informations de la paroisse</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                              {% for renduLast in renduLasts if renduLast.rendu  %}
                            <li style="font-size: 12px;">Numéro en cours !<br /> <strong>{{renduLast.title }}</strong></li>
                        </ul>
                        
                        
                        <img class="img-fluid d-flex d-sm-flex d-lg-flex d-xl-flex justify-content-sm-center mt-1" style="height: 264px;width: 187px;margin-left:12%;" 
                        
                        src="{{app.request.basepath}}/uploads/img/{{renduLast.imageName}}"/>

                          {% endfor %}
                          
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                            <li style="font-size: 12px;margin-top: 3px;">Numéros précédents</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3" style="padding: 0px;">
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;padding-top: 3px;padding-bottom: 5px;margin-bottom: 10px;">
                        <p style="font-weight: bold;color: rgb(52,72,143);margin-bottom: 5px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(62,81,148);"></i>Jeunes catholiques :</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                            <li style="font-size: 13px;">Centre Paroissial</li>
                            <li style="font-size: 13px;">Prêtres et équipe pastorale</li>
                            <li style="font-size: 13px;">Communautés locales</li>
                            <li style="font-size: 13px;">Soeurs de Saint Jean</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;padding-top: 3px;padding-bottom: 5px;margin-bottom: 10px;">
                        <p style="font-weight: bold;color: rgb(227,10,140);margin-bottom: 5px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(227,10,140);"></i>Vivre ou redécouvrir sa foi</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                            <li style="font-size: 13px;">Jeudis de St-Etienne</li>
                            <li style="font-size: 13px;">Groupes et mouvements :<br />- Thés bibliques<br />- Bible en Eure-et-Loir<br />- Equipes Notre Dame<br />- Autres groupes</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;padding-top: 3px;padding-bottom: 3px;margin-bottom: 5px;">
                        <p style="font-weight: bold;color: rgb(70,183,2);margin-bottom: 5px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(70,183,2);"></i>Chrétiens dans la cité : </p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                            <li style="font-size: 13px;">Enseignement catholique</li>
                            <li style="font-size: 13px;">Sujets de societé</li>
                            <li style="font-size: 13px;">Chorale Ste-Eve</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3" style="padding: 0px;">
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;padding-top: 3px;padding-bottom: 3px;margin-bottom: 5px;">
                        <p style="font-weight: bold;color: rgb(254,126,226);margin-bottom: 5px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(254,126,226);"></i>Jeunes catholiques :</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;">
                            <li style="font-size: 13px;">Pèlerinages</li>
                            <li style="font-size: 13px;line-height: 14px;margin-bottom: 3px;">Prier :<br />- Adoration, louange, liturgie des heures...<br />- Vies de saints et prières</li>
                            <li style="font-size: 13px; line-height:13px">Etre missionaire :<br />- Quelques missionnaires<br />- Projet pastoral missionnaire<br />- Ressources et initiatives</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;padding-top: 3px;padding-bottom: 3px;margin-bottom: 5px;">
                        <p style="font-weight: bold;color: rgb(217,44,44);margin-bottom: 3px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(217,45,45);"></i>Solidarité &amp; convivialité</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 3px;padding-left: 35px;line-height:18px">
                            <li style="font-size: 13px;">Secours Catholique</li>
                            <li style="font-size: 13px;">CCFD - Terre Solidaire</li>
                            <li style="font-size: 13px;">Réfléchissons sur la charité</li>
                            <li style="font-size: 13px; line-height:14px">Pastorale des migrants<br />et des réfugiés</li>
                            <li style="font-size: 13px;">Repas &amp; rencontres</li>
                            <li style="font-size: 13px;">Dialogue interreligieux</li>
                            <li style="font-size: 13px;">Aide à l&#39;Eglise en détresse</li>
                            <li style="font-size: 13px;">Coup de pouce informatique</li>
                        </ul>
                    </div>
                    <div class="alert alert-success border rounded border-secondary" role="alert" style="padding-right: 5px;padding-left: 5px;background-color: rgb(255,255,255);margin-left: 2px;margin-right: 2px;padding-top: 3px;padding-bottom: 3px;margin-bottom: 5px;">
                        <p style="font-weight: bold;color: rgb(255,2,2);margin-bottom: 3px;font-size: 14px;"><i class="fas fa-cross" style="margin-right: 4px;margin-left: 4px;color: rgb(255,47,47);"></i>Pastorale de la santé</p>
                        <ul style="margin-right: 3px;margin-left: 3px;margin-bottom: 5px;padding-left: 35px; line-height:16px">
                            <li style="font-size: 13px;">Aumônerie de l&#39;hôpital</li>
                            <li style="font-size: 13px;">Service évangélique des malades</li>
                            <li style="font-size: 13px;">Maison de retraite</li>
                            <li style="font-size: 13px;">Porter la communion aux malades</li>
                            <li style="font-size: 13px;">Amitiés-Espérance</li>
                            <li style="font-size: 13px;">Hospitalité de Lourdes</li>
                        </ul>
                    </div>
                </div>
            </div>
           
    </div>
    
</div>
</div>
</div>



<div class="footer-clean border mb-5">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                  <p class="copyright">  <a href="{{path('admin_actualites_index')}}">Company Name © 2017</p></a>
                </div>
            </div>
        </div>
    </footer>
</div>