    <div class="row fixed-top" id="menu" style="margin: 0px; height:10px">
        <div class="col-md-2 col-lg-2 col-xl-2 order-3 order-sm-3 order-md-2 order-lg-1 order-xl-1" id="colGauche" style="padding: 0px;margin-right: 0px;/*z-index: 3000;*//*top: 12px;*//*position: fixed;*/"><img class="img-fluid d-xl-flex" src="../../img/Logo-St-EtienneResize.png" style="width: 231px;margin-left: 10px;margin-top: 10px;/*position: fixed;*/"></div>
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2"
            id="colCentral" style="height: 10px;">
            <div class="row" style="margin: 0px;">
                <div class="col d-md-flex d-xl-flex justify-content-md-center justify-content-lg-center justify-content-xl-center" style="z-index: 2;background-color: rgba(255,255,255,0);">
                    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color: rgba(255,255,255,0);">
                        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="margin-left: -6px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse"
                                id="navcol-1">
                                <ul class="nav navbar-nav" style="/*background-color: black;*//*display: inline;*/">
                                    <li class="nav-item" role="presentation" id="icone1"><a class="nav-link active" id="link1" href="#"><img class="d-flex" data-bs-hover-animate="swing" id="ic1" src="../../img/boutons-Paroisse1.png"></a></li>
                                    <li class="nav-item" role="presentation" id="icone2"><a class="nav-link" id="link2" href="#"><img data-bs-hover-animate="swing" id="ic2" src="../../img/boutons-Paroisse2.png"></a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" id="link3" href="#"><img data-bs-hover-animate="swing" id="ic3" src="../../img/boutons-Paroisse3.png"></a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" id="link4" href="#"><img data-bs-hover-animate="swing" id="ic4" src="../../img/boutons-Paroisse4.png"></a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" id="link5" href="#"><img data-bs-hover-animate="swing" id="ic5" src="../../img/boutons-Paroisse5.png"></a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" id="link6" href="#"><img data-bs-hover-animate="swing" id="ic6" src="../../img/boutons-Paroisse6.png"></a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" 
                                    id="link6" href="{{path('form')}}"><img data-bs-hover-animate="swing" id="ic6" src="../../img/boutons-Paroisse6.png"></a></li>
                                     <li class="nav-item" role="presentation"><a class="nav-link" 
                                    id="link6" href="{{path('account_login')}}"><img data-bs-hover-animate="swing" id="ic6" src="../../img/boutons-Paroisse6.png"></a></li>
                                </ul>
                                <form class="form-inline mr-auto" target="_self">
                                    <div class="form-group"><label for="search-field"></label></div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-2 order-2 order-sm-2 order-md-3 order-lg-2 order-xl-3" id="colDroite" style="padding: 0px;">
            <p></p>
        </div>
    </div>