    <div class="row fixed-top" id="menu" style="margin: 0px; height:10px">
        <div class="col-md-2 col-lg-2 col-xl-2 order-3 order-sm-3 order-md-2 order-lg-1 order-xl-1" id="colGauche"
            style="padding: 0px;margin-right: 0px;/*z-index: 3000;*//*top: 12px;*//*position: fixed;*/">
            
           <a href="{{path('accueil')}}"><img class="img-fluid d-xl-flex logoAcc" src="../../img/Logo-St-EtienneResize.png"
                ></a> </div>
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2"
            id="colCentral" style="height: 10px;">
            <div class="row" style="margin: 0px;">
                <div class="col d-md-flex d-xl-flex justify-content-md-center justify-content-lg-center justify-content-xl-center"
                    style="z-index: 2;background-color: rgba(255,255,255,0);">
                    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search"
                        style="background-color: rgba(255,255,255,0);">
                        <div class="container"><button data-toggle="collapse" class="navbar-toggler"
                                data-target="#navcol-1" style="margin-left: -6px;"><span class="sr-only">Toggle
                                    navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav">


                                    <li class="nav-item" role="presentation" id="icone1">
                                        <a class="a-img-txt nav-link" href="{{path('messes')}}">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse1.png">
                                            <span class="a-txt c1">Horaires des messes</span>
                                        </a>
                                    </li>
                                    <!---->
                                    <li class="nav-item" role="presentation" id="icone2">
                                        <a class="a-img-txt nav-link" href="https://calendar.google.com/calendar/embed?src=paroisse.stetienne@gmail.com&ctz=Europe/Paris&pli=1">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse2.png">
                                            <span class="a-txt c1">Agenda</span>
                                        </a>
                                    </li>

                                    <li class="nav-item active" role="presentation">
                                        <a class="a-img-txt nav-link" href="http://brelevenez.hautetfort.com/">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse3.png">
                                            <span class="a-txt c1">Textes du Dimanche</span>
                                        </a>
                                    </li>

                                    <li class="nav-item" role="presentation">
                                        <a class="a-img-txt nav-link" href="https://radiograndciel.fr/">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse4.png">
                                            <span class="a-txt c1">RadioGrand Ciel</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="a-img-txt nav-link" href="http://www.st-etienne-drouais.fr/documents/Monastereinvisible9.pdf">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse5.png">
                                            <span class="a-txt c1">Monastère Invisible</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="a-img-txt nav-link" href="https://www.facebook.com/Paroisse-St-%C3%89tienne-en-Drouais-438003209642710/">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse6.png">
                                            <span class="a-txt c1">Facebook</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="a-img-txt nav-link" href="{{path('account_login')}}">
                                            <img class="d-flex a-img" data-bs-hover-animate="swing" id="ic1"
                                                src="../../img/boutons-Paroisse7.png">
                                            <span class="a-txt c1">Connexion</span>
                                        </a>
                                    </li>

                                </ul>
                                <form class="form-inline mr-auto" target="_self">
                                    <div class="form-group"><label for="search-field"></label></div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-2 order-2 order-sm-2 order-md-3 order-lg-2 order-xl-3" id="colDroite"
            style="padding: 0px;">
            <p></p>
        </div>
    </div>