<h1>formulaireImageSeule.html.twig</h1>



  <div class="form-group">
    <select class="custom-select">
      <option selected="">Open this select menu</option>
      <option value="1" href="hhtp://google.fr">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <button type="submit" class="btn btn-primary"> Valider </button>
  </div>
  <form action="{{ path('home') }}" method="post">
    <input type="hidden" name="codepostal" />
 
 
{% block javascripts %}
    <script>
        var codepostal = '75000';
        document.querySelector('[name=codepostal]').value = codepostal;
    </script>
{% endblock %}