.a-img-txt{
  display:grid; 
}

/* les enfants se superposent */
.a-img-txt>*{
  grid-area:1/1/-1/-1; 
  /* raccourci pour grid-row et grid-column */
}

/* le texte */
.a-txt{
  display:flex;
  justify-content:center;
  align-items:center;
  color:rgb(255, 255, 255);
  opacity:0;
  filter:invert(0); /* antibug si effet sur a-img */
  transition:opacity .8s;
  text-align: center;
  font-size: 13px;
}

/* les couleurs c1 et c2 */
.c1{
    background:#000000c4; /* avec alpha */
    max-height: 75px;
    max-width: 75px
}


/* le survol */
.a-txt:hover{
  opacity:1;
  max-height: 75px;
  max-width: 75px;
  padding: 2px
}
.a-img-txt:hover .a-img{
  filter:invert(0);
}
/* la déco */

a{
  text-decoration:none;
}