<!DOCTYPE html>
<html>
    <head>
    {% block head %}     
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Paroisse Saint-Étienne en Drouais{% endblock %}</title>
        <meta property="og:image" content="img/Logo-St-Etienne.png">
        <meta name="description" content="Retrouvez, sur ce site, toutes les informations sur la vie de la Paroisse catholique de Dreux et du Drouais !
        (Aunay-sous-Crécy, Broué, Charpont, Chérisy, Crécy-Couvé, Ecluzelles, Fermaincourt, Garancières-en-Drouais, Garnay, 
        Germainville, La Chapelle Forainvilliers, Luray, Mézières, Montreuil, Saulnières, Ste Gemme Moronval, Tréon et Vernouillet)">
    {% block stylesheets %}{% endblock %}

        <!--Links-->
        <link rel="icon" type="image/png" sizes="16x16" href="img/16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/32.png">
        <link rel="icon" type="image/png" sizes="180x180" href="img/180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="img/192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="img/512.png">
        <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../fonts/ionicons.min.css">
        <link rel="stylesheet" href="../../fonts/line-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="../../css/Navigation-Clean.css">
        <link rel="stylesheet" href="../../css/Navigation-with-Search.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="../../css/Google-Style-Login.css">

    </head>
   
    {% endblock %}
    

    <body>

    <!-- Déclartion des messages flash-->
        {% for label, messages in app.flashes %}
            <div class="container" style="">
            <div class="alert alert-{{ label }}" id="confsucces">
               {% for message in messages %}
                   <p id="pconfsucces">{{message}}</p>
               {% endfor %}
            </div>
            </div>
        {% endfor %}
    <!-- EO flash -->

        {% block body %}{% endblock %}
        
  <script src="../../js/jquery.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/bs-animation.js"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
